/* Setup */

html {
  font-size: 8px;
  scroll-behavior: smooth;
}

:root {
  --text-sm: 2rem;
  --text-md: 5rem;
  --text-lg: 10rem;

  --space-sm: 2rem;
  --space-md: 3rem;
  --space-lg: 6rem;

  --transition: 0.2s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: var(--text-md);
  font-weight: 400;
  font-family: "Boldonse";
  line-height: 1.3em;
  text-transform: uppercase;
  color: white;
  mix-blend-mode: difference;
  text-shadow: 0 0 1rem white;
  text-decoration: none;

  background: none;
  border: none;
}

body {
  background-color: black;
}

/* Background */

.perspective {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 2000px;
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url(images/landscape/7.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(1) brightness(0.4);
  z-index: -1;
}

/* Layout */

.parent {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.static,
.dynamic {
  padding: var(--space-md);
}

.static {
  grid-row: 1;
  grid-column: 2;
  text-align: right;
  position: sticky;
  top: 0;
  height: fit-content;
}

.dynamic {
  grid-row: 1;
  grid-column: 1;
}

/* Static content */

h1 {
  font-size: var(--text-lg);
  line-height: 1.3em;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: sticky;
}

.link {
  cursor: pointer;
  transition: opacity var(--transition);
}

.links:has(.link:hover) .link {
  opacity: 0.5;
}

.links:has(.link:hover) .link:hover {
  opacity: 1;
}

/* Dynamic content */

section {
  padding-bottom: var(--space-lg);
}

h2 {
  padding-bottom: var(--space-sm);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.info-inputs {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
}

input,
textarea,
.submit {
  background-color: white;
  border-radius: 0.5rem;
  padding: var(--space-sm);
  width: 100%;
  font-family: Arial;
  font-size: var(--text-sm);
  text-transform: none;
  color: black;
}

textarea {
  resize: none;
  height: 300px;
}

/* Events */

.event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: opacity var(--transition);
}

.event-title {
  transition: padding-left var(--transition);
}

.event:hover .event-title {
  padding-left: var(--space-lg);
}

section:has(.event:hover) .event {
  opacity: 0.5;
}

section:has(.event:hover) .event:hover {
  opacity: 1;
}

/* Responsiveness */

@media (max-width: 1300px) {
  .bg {
    background-image: url(images/portrait/5.jpg);
  }

  .parent {
    grid-template-columns: 1fr;
  }

  .static {
    grid-row: 1;
    grid-column: 1;
    position: relative;
  }

  .dynamic {
    grid-row: 2;
    grid-column: 1;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 7px;
  }

  :root {
    --text-sm: 12px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 6px;
  }

  textarea {
    height: 200px;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 570px) {
  html {
    font-size: 4px;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 3px;
  }
}
